# Arquivos compilados
build/
*.o
*.obj
*.exe
*.out

# Arquivos gerados pelo Flex e Bison
*.lex.c
*.tab.c
*.tab.h

# Arquivos de assembly
*.asm
*.s

# Arquivos de debug
*.dSYM/
*.su
*.idb
*.pdb

# Arquivos temporários
*.tmp
*.temp
*.swp
*~

# Arquivos de IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de teste
test_output
actual_output.txt

# Arquivos de dependência
*.d 