name: CI Compilador

on:
  push:
    branches: ["**"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: 游닌 Checkout do c칩digo
        uses: actions/checkout@v4

      - name: 丘뙖잺 Instala depend칡ncias (bison/flex)
        run: sudo apt-get update && sudo apt-get install -y bison flex

      - name: 游댢 Compila e roda testes com cobertura
        working-directory: compiler-source
        run: make coverage

      - name: 游닋 Publica relat칩rio de cobertura
        uses: actions/upload-artifact@v4
        with:
          name: cobertura
          path: compiler-source/cobertura.txt

      - name: 游닍 Publica bin치rio compilador
        uses: actions/upload-artifact@v4
        with:
          name: compilador
          path: compiler-source/compilador